*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

.button {
  display: inline-block;
  background-color: #3d96f4;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  font-style: 14px;
  font-weight: 500;
  line-height: 1.43; /* 22/14 */
  padding: 16px 30px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #68a9f0;
  }
}
.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
@media (any-hover: hover) {
  .button_dark:hover {
    background-color: rgba(129, 129, 139, 0.4);
  }
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 447.98px) {
  .button {
    padding: 10px 14px;
    font-size: 15px;
  }
}

.text {
  color: #81818b;
  line-height: 150%;
}
.text_big {
  font-size: 18px;
}
@media (max-width: 1310px) {
  .text_big {
    font-size: calc(15px + 3 * ((100vw - 320px) / 990));
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.8);
  z-index: 50;
}
.header__container {
  display: flex;
  column-gap: 35px;
  min-height: 116px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 991.98px) {
  .header__container {
    column-gap: 25px;
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
    column-gap: 15px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
}
@media (max-width: 560px) {
  .header__logo {
    width: 33px;
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__cart {
  position: relative;
  z-index: 2;
}
.header__button {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow-y: auto;
    transition: left 0.4s ease;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.4s ease;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
  justify-content: flex-end;
  column-gap: 35px;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
  }
}
.menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.625; /* 26/16 */
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    column-gap: 25px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: flex;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s ease;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}

.cart-header {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
}
@media (any-hover: hover) {
  .cart-header__text:hover {
    text-decoration: underline;
  }
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.555; /* 28/18 */
}
@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__quantuty {
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 560px) {
  .cart-header__quantuty {
    width: 30px;
    height: 40px;
    padding-top: 4px;
    border-radius: 0;
    background: url("../../img/header/basket.svg") top/30px no-repeat;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0px;
}

.menu-open .icon-menu span {
  width: 0;
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}

.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.main__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .main__container {
    flex-direction: column;
  }
}
.main__content {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .main__content {
    align-self: stretch;
  }
}
.main__title {
  position: relative;
  font-weight: 500;
  margin-top: 125px;
  font-size: 51px;
  line-height: 1.19;
  color: #fff;
}
@media (max-width: 1310px) {
  .main__title {
    margin-top: calc(10px + 115 * ((100vw - 320px) / 990));
  }
}
@media (max-width: 1310px) {
  .main__title {
    font-size: calc(30px + 21 * ((100vw - 320px) / 990));
  }
}
.main__title:first-child::before {
  content: "";
  position: absolute;
  background: url("../../img/main/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  top: -16px;
  left: -24px;
}
.main__title:not(:first-child) {
  margin-top: 0px;
}
@media (max-width: 1310px) {
  .main__title:not(:first-child) {
    margin-top: calc(0px + 0 * ((100vw - 320px) / 990));
  }
}
.main__title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1310px) {
  .main__title:not(:last-child) {
    margin-bottom: calc(12px + 16 * ((100vw - 320px) / 990));
  }
}
@media (min-width: 767.98px) {
  .main__title {
    max-width: 520px;
  }
}
.main__text:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 1310px) {
  .main__text:not(:last-child) {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 990));
  }
}
@media (min-width: 767.98px) {
  .main__text {
    max-width: 491px;
  }
}
.main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 1310px) {
  .main__actions {
    column-gap: calc(12px + 20 * ((100vw - 320px) / 990));
  }
}
@media (max-width: 1310px) {
  .main__actions {
    row-gap: calc(13px + 2 * ((100vw - 320px) / 990));
  }
}
@media (max-width: 479px) {
  .main__actions {
    flex-direction: column;
  }
}
.main__images {
  flex: 0 1 50%;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%; /* 60/624 */
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item.images-main__item_1, .images-main__item.images-main__item_4 {
  border-radius: 378px;
}
.images-main__item.images-main__item_2 {
  border-radius: 378px 378px 0px 378px;
}
.images-main__item.images-main__item_3 {
  border-radius: 378px 0px 378px 378px;
}
.images-main__item img {
  width: 100%;
}

.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
@media (max-width: 1310px) {
  .clients {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 990));
  }
}
@media (max-width: 1310px) {
  .clients {
    padding-bottom: calc(20px + 50 * ((100vw - 320px) / 990));
  }
}
.clients__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 44px;
}
@media (max-width: 1310px) {
  .clients__title {
    padding-bottom: calc(16px + 28 * ((100vw - 320px) / 990));
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  column-gap: 74px;
  justify-content: space-evenly;
}
@media (max-width: 1310px) {
  .clients__items {
    column-gap: calc(10px + 64 * ((100vw - 320px) / 990));
  }
}
.clients__item img {
  max-width: 100%;
}

.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
@media (max-width: 1310px) {
  .services {
    padding-top: calc(20px + 50 * ((100vw - 320px) / 990));
  }
}
@media (max-width: 1310px) {
  .services {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 990));
  }
}
.services__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10.8px;
  line-height: 170%; /* 17/10 */
  padding: 11px 19px;
}
.services__label:not(:last-child) {
  margin-bottom: 19px;
}
@media (max-width: 1310px) {
  .services__label:not(:last-child) {
    margin-bottom: calc(10px + 9 * ((100vw - 320px) / 990));
  }
}
.services__items {
  flex: 0 1 50%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
@media (max-width: 610px) {
  .services__items {
    flex-direction: column;
  }
  .services__items .services__column:first-child {
    margin-top: 0px;
  }
}
.services__column:first-child {
  margin-top: 48px;
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.421; /* 27/19 */
  color: #fff;
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1100px) {
  .services__header .main__title,
  .services__header .main__text {
    max-width: none;
  }
}