*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

.button {
  display: inline-block;
  background-color: #3d96f4;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 22/14 */
  padding: 16px 30px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #68a9f0;
  }
}
.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
@media (any-hover: hover) {
  .button_dark:hover {
    background-color: rgba(129, 129, 139, 0.4);
  }
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 447.98px) {
  .button {
    padding: 10px 14px;
    font-size: 15px;
  }
}

.text {
  color: #81818b;
  line-height: 150%;
}
.text_big {
  font-size: 18px;
}
@media (max-width: 1920px) {
  .text_big {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.8);
  z-index: 50;
}
.header__container {
  display: flex;
  column-gap: 35px;
  min-height: 116px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 991.98px) {
  .header__container {
    column-gap: 25px;
    min-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
    column-gap: 15px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
}
@media (max-width: 560px) {
  .header__logo {
    width: 33px;
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__cart {
  position: relative;
  z-index: 2;
}
.header__button {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow-y: auto;
    transition: left 0.4s ease;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.4s ease;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
  justify-content: flex-end;
  column-gap: 35px;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
  }
}
.menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1.625; /* 26/16 */
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    column-gap: 25px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: flex;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s ease;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}

.cart-header {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
}
@media (any-hover: hover) {
  .cart-header__text:hover {
    text-decoration: underline;
  }
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.555; /* 28/18 */
}
@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__quantuty {
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 560px) {
  .cart-header__quantuty {
    width: 30px;
    height: 40px;
    padding-top: 4px;
    border-radius: 0;
    background: url("../../img/header/basket.svg") top/30px no-repeat;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0px;
}

.menu-open .icon-menu span {
  width: 0;
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}

.page__start {
  margin-bottom: 100px;
}
@media (max-width: 1920px) {
  .page__start {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}

.main {
  padding-top: 160px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.main__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .main__container {
    flex-direction: column;
  }
}
.main__content {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .main__content {
    align-self: stretch;
  }
}
.main__title {
  position: relative;
  font-weight: 500;
  margin-top: 125px;
  font-size: 51px;
  line-height: 1.19;
  color: #fff;
}
@media (max-width: 1920px) {
  .main__title {
    margin-top: calc(10px + 115 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .main__title {
    font-size: calc(30px + 21 * ((100vw - 320px) / 1600));
  }
}
.main__title:first-child::before {
  content: "";
  position: absolute;
  background: url("../../img/main/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  top: -16px;
  left: -24px;
}
.main__title:not(:first-child) {
  margin-top: 0px;
}
@media (max-width: 1920px) {
  .main__title:not(:first-child) {
    margin-top: calc(0px + 0 * ((100vw - 320px) / 1600));
  }
}
.main__title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1920px) {
  .main__title:not(:last-child) {
    margin-bottom: calc(12px + 16 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767.98px) {
  .main__title {
    max-width: 520px;
  }
}
.main__text:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 1920px) {
  .main__text:not(:last-child) {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767.98px) {
  .main__text {
    max-width: 491px;
  }
}
.main__body {
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
}
.main__body .main__text {
  margin-bottom: 0;
  max-width: 740px;
}
.main__body .main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .main__body {
    flex-direction: column;
  }
}
.main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 1920px) {
  .main__actions {
    column-gap: calc(12px + 20 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .main__actions {
    row-gap: calc(13px + 2 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 479px) {
  .main__actions {
    flex-direction: column;
  }
}
.main__images {
  flex: 0 1 50%;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%; /* 60/624 */
}
.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item.images-main__item_1, .images-main__item.images-main__item_4 {
  border-radius: 378px;
}
.images-main__item.images-main__item_2 {
  border-radius: 378px 378px 0px 378px;
}
.images-main__item.images-main__item_3 {
  border-radius: 378px 0px 378px 378px;
}
.images-main__item img {
  width: 100%;
}

.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
@media (max-width: 1920px) {
  .clients {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .clients {
    padding-bottom: calc(20px + 50 * ((100vw - 320px) / 1600));
  }
}
.clients__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 44px;
  color: #fff;
}
@media (max-width: 1920px) {
  .clients__title {
    padding-bottom: calc(16px + 28 * ((100vw - 320px) / 1600));
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  column-gap: 74px;
  justify-content: space-evenly;
}
@media (max-width: 1920px) {
  .clients__items {
    column-gap: calc(10px + 64 * ((100vw - 320px) / 1600));
  }
}
.clients__item img {
  max-width: 100%;
}

.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
@media (max-width: 1920px) {
  .services {
    padding-top: calc(20px + 50 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .services {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
.services__container {
  display: flex;
  gap: 32px;
}
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10.8px;
  line-height: 170%; /* 17/10 */
  padding: 11px 19px;
}
.services__label:not(:last-child) {
  margin-bottom: 19px;
}
@media (max-width: 1920px) {
  .services__label:not(:last-child) {
    margin-bottom: calc(10px + 9 * ((100vw - 320px) / 1600));
  }
}
.services__label:hover {
  box-shadow: 0px 0px 4px rgba(255, 221, 0, 0.9);
}
.services__items {
  flex: 0 1 50%;
  display: flex;
  gap: 32px;
  justify-content: center;
}
@media (max-width: 610px) {
  .services__items {
    flex-direction: column;
  }
  .services__items .services__column:first-child {
    margin-top: 0px;
  }
}
.services__column:first-child {
  margin-top: 48px;
}
.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.421; /* 27/19 */
  color: #fff;
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1100px) {
  .services__header .main__title,
  .services__header .main__text {
    max-width: none;
  }
}
.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1920px) {
  .why {
    padding-top: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .why {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
@media (max-width: 767.98px) {
  .why__container {
    flex-direction: column-reverse;
  }
}
.why__images {
  flex: 0 1 50%;
}
.why__content {
  flex: 0 1 50%;
  align-self: center;
}
.why__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  line-height: 150%; /* 24/16 */
  padding-top: 5px;
}
.why__list li:not(:last-child) {
  margin-bottom: 16px;
}
.why__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(../../img/why/list.svg) center no-repeat;
}

.images-why {
  position: relative;
  display: flex;
  align-self: flex-end;
}
.images-why__item {
  z-index: 2;
  overflow: hidden;
}
.images-why__item img {
  max-width: 100%;
}
.images-why__item_1 {
  border-radius: 90% 0 49% 49%/50% 0 31% 31%;
}
.images-why__item_2 {
  border-radius: 181px 181px 181px 0px;
  align-self: flex-end;
}
.images-why::before {
  content: "";
  position: absolute;
  background: url("../../img/main/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  bottom: 0px;
  left: -10px;
}

.advantages {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1920px) {
  .advantages {
    margin-top: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .advantages {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
@media (max-width: 991.98px) {
  .advantages__container {
    flex-direction: column;
  }
}
.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 1920px) {
  .advantages__items {
    gap: calc(16px + 16 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 991.98px) {
  .advantages__items {
    padding-right: 0px;
  }
}
@media (max-width: 660px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}
.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.advantages__value {
  font-size: 51px;
  font-weight: 500;
  line-height: 1.196; /* 61/51 */
  color: #fff;
}
.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.5;
}
.advantages__images {
  align-self: flex-end;
  flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0 68% 60% 60%/0 68% 50% 50%;
}
.advantages__images img {
  transform: scale(1.01);
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .advantages__images {
    align-self: center;
  }
}

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1920px) {
  .testimonials {
    padding-top: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .testimonials {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
.testimonials__header {
  margin-bottom: 64px;
}
@media (max-width: 1920px) {
  .testimonials__header {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1600));
  }
}
.testimonials__header .main__title {
  max-width: none;
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media (max-width: 1100px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}
.item-testimonials {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 64px 40px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.item-testimonials__user:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 1920px) {
  .item-testimonials__user:not(:last-child) {
    margin-bottom: calc(18px + 15 * ((100vw - 320px) / 1600));
  }
}
.item-testimonials__title {
  font-size: 32px;
  line-height: 1.4; /* 45/32 */
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1920px) {
  .item-testimonials__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1600));
  }
}
.item-testimonials__title:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 1920px) {
  .item-testimonials__title:not(:last-child) {
    margin-bottom: calc(18px + 17 * ((100vw - 320px) / 1600));
  }
}
.item-testimonials__text {
  flex: 1 1 auto;
}
.item-testimonials__text:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 1920px) {
  .item-testimonials__text:not(:last-child) {
    margin-bottom: calc(18px + 17 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 767.98px) {
  .item-testimonials {
    padding: 30px 15px;
  }
}

.user-testimonials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-testimonials__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}
.user-testimonials__avatar img {
  max-width: 100%;
  transform: scale(1.04);
}
.user-testimonials__avatar_1 {
  border-radius: 0 50% 50% 50%;
}
.user-testimonials__avatar_2 {
  border-radius: 50% 0 50% 50%;
}
.user-testimonials__avatar_3 {
  border-radius: 50% 50% 0 50%;
}
.user-testimonials__title {
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #fff;
}
.user-testimonials__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonials__company {
  font-size: 14px;
}

.blog {
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (max-width: 1920px) {
  .blog {
    padding-top: calc(20px + 80 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .blog {
    padding-bottom: calc(40px + 160 * ((100vw - 320px) / 1600));
  }
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media (max-width: 1920px) {
  .blog__items {
    gap: calc(20px + 28 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 767.98px) {
  .blog__items {
    grid-template-columns: auto;
  }
}
.blog__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.item-blog__header {
  position: relative;
}
.item-blog__category {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  padding: 10px 9px;
  color: #fff;
  z-index: 2;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49.238579%; /* 194/394 */
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-blog__body {
  padding: 36px 26px;
}
@media (max-width: 991.98px) {
  .item-blog__body {
    padding: 25px 15px;
  }
}
.item-blog__date {
  line-height: 150%; /* 24/16 */
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title {
  font-size: 19px;
  line-height: 142.105263%; /* 27/19 */
  font-weight: 400;
  color: #fff;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__text:not(:last-child) {
  margin-bottom: 22px;
}
.item-blog__link {
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  color: #3d96f4;
}

.start__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 50px 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .start__body {
    flex-direction: column;
    row-gap: 40px;
    padding: 30px 10px;
    align-items: stretch;
  }
}
.start__column {
  flex: 0 1 50%;
  text-align: center;
}
.start__title {
  font-size: 32px;
  line-height: 140.625%; /* 45/32 */
  color: #fff;
  max-width: 360px;
  margin: 0 auto;
}
.start__title:not(:last-child) {
  margin-bottom: 18px;
}
.start__text {
  max-width: 310px;
  margin: 0 auto;
}
.start__actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 374.98px) {
  .start__actions {
    flex-direction: column;
  }
}

.footer__main {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 1920px) {
  .footer__main {
    padding-top: calc(30px + 130 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1920px) {
  .footer__main {
    padding-bottom: calc(20px + 140 * ((100vw - 320px) / 1600));
  }
}
.main-footer__container {
  display: grid;
  gap: 64px;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
@media (max-width: 1920px) {
  .main-footer__container {
    gap: calc(25px + 39 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 991.98px) {
  .main-footer__container {
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
  .main-footer__container .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media (max-width: 767.98px) {
  .main-footer__container {
    grid-template-columns: auto auto;
  }
  .main-footer__container .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
  .main-footer__container .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
}
.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-footer__label {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}
.social {
  display: flex;
  gap: 16px;
}
@media (max-width: 1920px) {
  .social {
    gap: calc(12px + 4 * ((100vw - 320px) / 1600));
  }
}
.social__link {
  flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link:hover {
  border: 1px solid rgb(255, 255, 255);
}

.menu-footer__list {
  display: grid;
  gap: 24px;
}
@media (max-width: 1920px) {
  .menu-footer__list {
    gap: calc(12px + 12 * ((100vw - 320px) / 1600));
  }
}
.menu-footer__link:hover {
  color: #fff;
}

.subscribe {
  display: flex;
  gap: 16px;
}
.subscribe__input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  padding: 0px 30px;
}
.subscribe__input::placeholder {
  color: #999999;
}
.subscribe__input:focus {
  box-shadow: 0px 0px 4px rgba(255, 221, 0, 0.9);
}
@media (max-width: 479.98px) {
  .subscribe {
    flex-direction: column;
  }
}

.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
}
.bottom-footer__copy {
  text-align: center;
  padding: 40px;
}
@media (max-width: 1920px) {
  .bottom-footer__copy {
    padding: calc(15px + 25 * ((100vw - 320px) / 1600));
  }
}